In [5]:
#importing nacessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#read in the data 
df = pd.read_csv('../data/titanic.csv')

In [8]:
#show top 5 rows in the dataset
df.head()

,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
#show the number of rows and cols
df.shape

(891, 11)

In [31]:
#list of variables/columns
df.columns

Index(['survived', 'pclass', 'name', 'gender', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
survived    891 non-null int64
pclass      891 non-null int64
name        891 non-null object
gender      891 non-null object
age         714 non-null float64
sibsp       891 non-null int64
parch       891 non-null int64
ticket      891 non-null object
fare        891 non-null float64
cabin       204 non-null object
embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB

In [33]:
# data dictionary 
# survived - survived or not ( 0 = did not survive, 1 = survived)
# pclass - ( 1 = upper class, 2 = middle class ,3 = lower class )
# name (last name, first, middle , (maiden))
# gender(male, female)
# age
# sibsp - name of siblings and children abrod the ship
# parch -

In [34]:
#very useful
df.survived.value_counts()

0    549
1    342
Name: survived, dtype: int64

In [36]:
df.pclass.value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64